<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-network-activity-indicator"
        version="0.0.1">

  <name>Network Activity Indicator</name>

  <description>
    Show a network activity indicator for your cordova iOS apps to let the user know when the app is using the network
  </description>

  <license>MIT</license>
   <repo>https://github.com/seifscape/cordova-network-activity-indicator.git</repo>
   <issue>https://github.com/seifscape/cordova-network-activity-indicator/issues</issue>
        
   <engines>
        <engine name="cordova" version=">=3.0.0"/>
   </engines>
        
  <js-module src="www/NetworkActivityIndicator.js" name="NetworkActivityIndicator">
    <clobbers target="cordova.plugins.NetworkActivityIndicator" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="NetworkActivityIndicator">
        <param name="ios-package" value="NetworkActivityIndicator"/>
      </feature>
    </config-file>
    
    <header-file src="src/ios/Bridging-Header.h" />
    <source-file src="src/ios/NetworkActivityIndicator.swift"/>
  </platform>

</plugin>
