<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="es.dev-coders.network-activity-indicator"
        version="1.0.0">

  <name>Network Activity Indicator ID</name>

  <description>
    Show a network activity indicator for your cordova iOS apps to let the user know when the app is using the network
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/NetworkActivity.js" name="NetworkActivity">
    <clobbers target="cordova.plugins.NetworkActivity" />
  </js-module>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="NetworkActivity">
        <param name="ios-package" value="NetworkActivity"/>
      </feature>
    </config-file>

    <source-file src="src/ios/NetworActivity.swift"/>
  </platform>

</plugin>